@font-face {
    font-family: "Bodoni";
    src: url(../font/BOD_R.TTF);
}

:root {
    --gold: #ccaf6b;
}


.welcome{
    margin-left: 350px;
    position: relative;
    width: 300px;
    display: block;
}


.orspan{
    margin-top: 35px;
    font-size: 23px;
}

body {
    background-image: url('../img/Untitled/image 1.svg');
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Bodoni", serif;
    font-size: 18px;
    letter-spacing: 2px;
}   

a {
    transition: all .4s ease;
    color: var(--gold);
    text-decoration: none;
}

a:hover {
    opacity: 0.7;
}
